<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-input-login">Username</label> <!-- Label for the username input field -->
      <input type="text" id="username-input-login" /> <!-- Input field for the username -->
    </div>
    <div>
      <label for="password-input-login" class="form-label">Password</label> <!-- Label for the password input field -->
      <input type="password" id="password-input-login" /> <!-- Input field for the password -->
    </div>
    <button type="submit" id="login-btn" class="btn">Login!</button> <!-- Button to submit the login form -->
    <a type="button" href="/signup">Sign up instead</a> <!-- Link to the signup page -->
  </form>
</div>

<script src="/js/login.js"></script>
