<div class="post card">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form id="new-post-form" class="card-body">
    <label class="form-label" for="post-title">Title</label> <!-- Label for the post title input field -->
    <input type="text" name="post-title" class="form-input" /> <!-- Input field for the post title -->

    <label class="form-label" for="post-body">Content</label> <!-- Label for the post body textarea -->
    <textarea name="post-body" class="form-input"></textarea> <!-- Textarea for the post body -->

    <button type="submit" class="btn">Create</button> <!-- Button to submit the new post form -->
  </form>
</div>

<script src="/js/new.js"></script>
