<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <div>
        <label for="username-input-signup">Username</label> <!-- Label for the username input field -->
        <input type="text" id="username-input-signup" /> <!-- Input field for the username -->
      </div>
      <div>
        <label for="password-input-signup">Password</label> <!-- Label for the password input field -->
        <input type="password" id="password-input-signup" /> <!-- Input field for the password -->
      </div>
      <button type="submit" id="signup-btn" class="btn">Signup!</button> <!-- Button to submit the signup form -->
      <a href="/login">Login instead</a> <!-- Link to the login page -->
    </form>
    <div id="signup-message" class="message"></div> <!-- Message container to display signup messages -->
  </div>
</div>

<script src="/js/signup.js"></script>
